<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335245545296-nkpvs0rmquifpdh5n430i22kena5idqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335245545296-nkpvs0rmquifpdh5n430i22kena5idqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDz26VNGMckgivJ3aaFFC5NToCGVRuAz6E</string>
	<key>GCM_SENDER_ID</key>
	<string>335245545296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaopegoraro.ahpsico</string>
	<key>PROJECT_ID</key>
	<string>ahpsico</string>
	<key>STORAGE_BUCKET</key>
	<string>ahpsico.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335245545296:ios:cbeb6ebbfa58e6758d2655</string>
</dict>
</plist>